nb/
data/es_en/europarl-v7.es-en.en
data/es_en/europarl-v7.es-en.es
data/nonbreaking_prefix.en
data/nonbreaking_prefix.es
data/utils
output/
.venv/
.DS_Store/
app/__pycache__/*
app/infrastructure/__pycache__/*
