nb/

checkpoint/*
!checkpoint/README.md

models/*
!models/README.md

data/es_en/europarl-v7.es-en.en
data/es_en/europarl-v7.es-en.es
data/utils.txt

output/inputs.csv
output/outputs.csv


app/__pycache__/*
app/infrastructure/__pycache__/*
app/application/__pycache__/*
app/model/__pycache__/*
app/*.pyc

.venv/
.DS_Store/
