nb/
checkpoint/

data/es_en/europarl-v7.es-en.en
data/es_en/europarl-v7.es-en.es
data/utils.txt

output/*


app/__pycache__/*
app/infrastructure/__pycache__/*
app/application/__pycache__/*
app/model/__pycache__/*

.venv/
.DS_Store/
